@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Booking>
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="admin-section">
    <h1 class="section-title">Service Cart</h1>
    <form data-ajax="true"
          data-ajax-update="#target"
          data-ajax-loading="#loader"
          id="f">
        @Html.TextBox("name", "",
        new { type = "search", autofocus = "", data_trim = "" })
        <button>Search</button>
        <img src="/images/loader.gif" id="loader" style="display: none">
    </form>
    <!-- Add your category management UI here -->
</section>

@section foot {
    <script>
        let timer = null;

        $('#name').on('input', e => {
            clearTimeout(timer);
            timer = setTimeout(() => $(e.target.form).submit(), 500);
        });
    </script>
}

@{
    var options = PagedListRenderOptions.ClassicPlusFirstAndLast;
    options.LinkToFirstPageFormat = "First";
    options.LinkToLastPageFormat = "Last";
    options.LinkToPreviousPageFormat = "Previous";
    options.LinkToNextPageFormat = "Next";

    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "get",
        UpdateTargetId = "target",
        LoadingElementId = "#loader",
    };
}

@Html.PagedListPager(
Model,
p => $"?name={ViewBag.Name}&sort={ViewBag.Sort}&dir={ViewBag.Dir}&page={p}",
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(options, ajaxOptions)
)